# Created by https://www.toptal.com/developers/gitignore/api/c,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c,visualstudiocode

### C ###
# Prerequisites
*.L68
*.S68

# End of https://www.toptal.com/developers/gitignore/api/c,visualstudiocode